@import './slider.styl'

.application.theme--light
  background-color #fff

.fade-enter-active, .fade-leave-active
  transition: opacity 1s;

.fade-enter, .fade-leave-to
  opacity: 0;



.fade
  &-enter-active, &-leave-active, &-leave-to
    transition: .8s ease-in-out
    position: absolute
    top: 0
    left: 0

  &-enter, &-leave, &-leave-to
    opacity: 0

.container
  padding 0

p
  margin-bottom 0

.carousel__wrapper
  height 600px

.application--wrap > main:not(.content)
  flex-direction: column

.head-title
  color #2EAEE4
  font-weight normal
  font-size 1.5rem
  font-family 'Open Sans'

.btn--active
  background-color transparent !important