.slider-item
  position relative
  .slider-text
    position absolute
    top 45%
    left 50%
    font-size 6rem
    line-height 6.5rem
    transform translate(-50%, -50%)
    color #fff
    font-family 'Open Sans', Arial, Helvetica, sans-serif
    font-weight bold
    text-shadow -1px 0 black

.btn
  background-color: transparent
  z-index: 5 !important

.btn-left
.btn-right
  background: transparent !important
  box-shadow none !important

.indicators
  z-index: 2 !important

.theme--light .btn:not(.btn--icon):not(.btn--flat), .application .theme--light.btn:not(.btn--icon):not(.btn--flat)
  background-color transparent
