@import './wrapper.styl';
@import './slider.styl';
@import './animations.styl';
@import './modal.styl'


$primary = #006FB2;

html
  font-size 15px
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color #F4F4F4
  // scroll-behavior smooth
  overflow-x hidden
  box-sizing border-box

body
  margin 0

.logo
  width 200px
  height 48px

.head-title
  color #2EAEE4
  font-weight normal
  font-size 1.5rem

h1
  font-size 2rem

p
  margin 0
  color #444

a
  text-decoration: none
  color #fff

ul
  list-style none
  

.logo-parallax
  width 350px
  height 80px

.container
  flex 1 1 100%
  margin auto



.parallax
  position: relative;
  overflow: hidden;
  z-index: 0;


.parallax__image-container
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  contain: strict;


.parallax__image
  position: absolute;
  bottom: 0;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  display: none;
  transform: translate(-50%, 0);
  will-change: transform;
  transition: 0.3s opacity cubic-bezier(0.25, 0.8, 0.5, 1);
  z-index: 1;


.parallax__content
  color: #fff;
  height: 100%;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;


@media (max-width 500px)
  .head-title
    font-size 1rem
    margin-bottom .5rem
  h1
    font-size 1.3rem