@import './wrapper.styl'

$primary = #006FB2;

.logo
  width 200px
  height 48px

.head-title
  color #2EAEE4
  font-weight normal
  font-size 1.5rem

p
  margin 0
  font-size .9rem

ul
  list-style none

.logo-parallax
  width 350px
  height 80px


.my-btn
  color #fff
  width 200px
  height 50px
  background-color #1565C0
  font-family Arial, Helvetica, sans-serif
  font-size 1.1rem