.slider-img
  height: 500px

@media (max-width 1500px)
  .slider-img
    height: 410px

@media (max-width 1300px)
  .slider-img
    height: 370px

@media (max-width 1200px)
  .slider-img
    height: 320px