.slider-img
  height: 500px

@media (max-width 1500px)
  .slider-img
    height: 350px

@media (max-width 1300px)
  .slider-img
    height: 320px

@media (max-width 1180px)
  .slider-img
    height: 300px

@media (max-width 1100px)
  .slider-img
    height: 250px